h1 {
  color: rgb(101, 157, 240);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin: 2em;
  background: linear-gradient(90deg, #135748, #132484);
}
body,
input[type="text"],
button {
  color: #333;
  font-size: Cambria, Georgia;
}
* {
  font-size: Arial, Helvetica, sans-serif;
}
a {
  color: gray;
  margin: 10px;
  text-decoration: none;
}
a:hover {
  color: rgb(17, 140, 240);
}
span {
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 5px;
  height: 30px;
  border-radius: 3px;
  background-color: whitesmoke;
}
